@page
@model RazorShoesProject.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Planned Delivery
            </th>
            <th>
                Actual Delivery
            </th>
            <th>
                Order Status
            </th>
            <th>
                Customer
            </th>
            <th>
                Payment Details
            </th>
            <th>
                Payment Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>